*{
    padding: 0;
    margin: 0;
 }
 
 body{
    font-family: 'SF Pro Text', sans-serif;
 }
 
 .navbar {
    background-color: #46ACC2;
    display: flex;
    padding: 0 9%;
    line-height: 60px;
    font-family: sans-serif;
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #00000026;
  }
  
  .navbar_link {
    margin-left: 20px;
  }
 
 .navbar_link a{
    color: black;
    font-weight: 500;
 }
 
  .navbar_brand{
    font-size: 20px;
    text-decoration: none;
  }
  
  .navbar_items {
    display: flex;
  }
 
  .navbar_items a:hover{
    color: #ea8025;
    transition: ease-in-out;
  }
 
  .active{
    color: #ea8025 !important;
    opacity: 90%;
 }
  
  .navbar_items--right {
    margin-left:auto;
  }
  
  .navbar_link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar_items,
    .navbar {
      flex-direction: column;
    }
      
  .navbar_items {
      display:none;
    }
      
  .navbar_items--right {
      margin-left:0;
    }
      
  .navbar_toggleshow {
      display: flex;
    }
      
  .navbar_link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      color: black;
      background: rgba(255, 255, 255, 0.8);
     } 
  }

.tittle1{
    padding-top: 20px;
}

.tittle3{
    font-size: 15px;
}

.text-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    line-height: 1.4;
    font-size: 18px;
    padding-top: 20px;
    transition: 0.25s ease-in-out;
}

.text-link:hover{
    color: #ea8025;
}

.content-img1{
    width: 100%;
}

.content-img2,
.content-img1{
    cursor: pointer;
    border-radius: 5px;
}

.content-date{
    font-size: 12px;
    opacity: 50%;
    padding-top: 8px;
}

.story-img1{
    height: fit-content;
}

.content2{
    background-color: #fff7e6;
    padding-top: 30px;
}

.form-button{
    color: #ea8025;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    padding: 6px 10px;
    margin-top: 30px;
    transition: 0.25s ease-in-out;
}

.form-button:hover{
    color: #fff;
    background-color: #ea8025;
}

.button{
    padding: 0 0 30px 200px;
}

.content3{
    padding-top: 30px;
}

.story-img2{
    height: fit-content;
    padding-top: 140px;
}

.content4{
    background-color: #fff7e6;
    padding-top: 30px;
    padding-bottom: 3%;
}

.footer{
    background: #000000D9;
    padding: 34px 50px 54px;
    font-size: 14px;
    color: #fff;
 
 }
 
 .footer h4{
    text-align: left;
 }
 
 .footer ul{
    list-style-type: none !important;
 }
 
 .footer ul li{
    padding: 10px 0;
 }
 
 .footer ul li a{
    text-decoration: none;
    color: #fff;
 }