*{
   font-family: 'SF Pro Text', sans-serif;
}

nav{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.active{
   color: #ea8025 !important;
   opacity: 90%;
}

.navbar{
    overflow: hidden;
    position: sticky;
    width: 100%;
    top: 0;
}

.navbar-brand{
    padding-right: 30px;
}

.item-img{
   height: auto;
    width: 100%;
    border-radius: 5%;
   cursor: pointer;
}

 .item-tittle:hover{
     color: #ea8025;
     opacity: 75%;
     cursor: pointer;
 }

 .old-price{
     text-decoration-line: line-through;
 }

.footer{
   background: #000000D9;
   padding: 50px 50px 54px;
   font-size: 14px;
   color: #fff;
}

.footer h4{
   text-align: left;
}

.footer ul{
   list-style-type: none !important;
}

.footer ul li{
   padding: 10px 0;
}

.footer ul li a{
   text-decoration: none;
   color: #fff;
}