*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'SF Pro Text', sans-serif;
}
li {
   list-style: none;
}
a {
   color: #111;
   text-decoration:none ;
}
.image img {
    height: auto;
    width: 100%;
    border-radius: 5%;
 }
 
.navbar{
   overflow: hidden;
  position: sticky;
   width: 100%;
  top: 0;  
  min-height: 70px;
  display: flex;

  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  align-items:flex-start;
  gap: 60px;
 margin-bottom: 0;
 
}
.nav-branding {
  font-size: 1.5rem;
  padding-right: 30px;

}
.nav-link{
  transition:0.7 ease;

}
.nav-link:hover{
  color: orange;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out ;
  transition: all 0.3s ease-in-out ;
  background-color:#111;
  
}
@media ( max-width: 768px){
  .hamburger{
     display: block;
  }
  .hamburger.active .bar:nth-child(2){
     opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
     transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
     transform: translateY(-8px) rotate(-45deg);
  }
 .nav-menu{
  position: fixed;
  left: -100%;
  top: 10%;
  gap: 0;
  flex-direction: column;
  background-color: white;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  }
  .nav-item{
     margin: 16px 0;
  }
  .nav-menu.active{
     left: 0;
  }
}
  .row {
    margin-left: 90px ;
    margin-right: 90px;
    margin-top: 3%;
 } 
.brand_img img{
   height: auto;
   width: 100%;
   border-radius:5% ;
}
.image_section img{
   display: block;
   width: 40%;
   margin-left: auto;
   margin-right: auto;
  
}
#Section{
   background-color: burlywood;
}
button{
   padding: 5px 20px;
   border-radius: 20px;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   border: none;
   background: #8AC007;
   color: #fff;
   cursor: pointer;
}

body{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   min-height: 100vh;
   flex-direction: column;
   /* background: url(https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_footer_cho_website/Aare.svg); */
}
.footer{
   background: #000000D9;
   padding: 34px 50px 54px;
   font-size: 14px;
   color: #fff;

}

.footer h4{
   text-align: left;
}

.footer ul{
   list-style-type: none !important;
}

.footer ul li{
   padding: 10px 0;
}

.footer ul li a{
   text-decoration: none;
   color: #fff;
}